<h1>Updating subject</h1>

<%= render 'form' %>

<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>

<div>
  <button type="button" class="btn btn-primary" id="refresh_subject">Refresh</button>
</div>