$blue: #1b2f44;
$lightblue: #31557b;
$lightgrey: #eaeaea;
$darkgrey: #2c2c2c;

@mixin gradient {
	background: rgb(71,119,178); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3NzdiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYTQ1NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(71,119,178,1) 0%, rgba(42,69,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,119,178,1)), color-stop(100%,rgba(42,69,107,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(71,119,178,1) 0%,rgba(42,69,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(71,119,178,1) 0%,rgba(42,69,107,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(71,119,178,1) 0%,rgba(42,69,107,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(71,119,178,1) 0%,rgba(42,69,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4777b2', endColorstr='#2a456b',GradientType=0 ); /* IE6-8 */
}


@mixin dark_gradient {
	
}


input[type=text], textarea, input[type=email], input[type=password] {
	padding-left: 5px;
	
	border: 1px solid #CCC;
	background-color: rgba(0, 0, 0, 0.02);
	//box-shadow: inset 0 0 2px #CCC;
	//border-radius: 2px;

	&:focus {
		outline: none;
		border: 1px solid #AAA;
		box-shadow: inset 0 0 2px #CCC, 0 0 2px #CCC;
	}
}


input[type=text] {
	width: 225px;
	height: 25px;
}


textarea {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	resize: none;
}


label {
	font-size: 14px;
	margin-bottom: 5px;
	color: $darkgrey;
}


.field {
	margin-bottom: 15px;
}


.divider {
	width: 100%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;

	border-bottom: 1px dotted #CCC;
	border-top: 1px dotted #CCC;
}


.listtable {
	width: 100%;
	text-align: center;
	border-collapse: collapse;

	#thead {
		margin-bottom: 10px;
		border-radius: 3px;
	}

	th {
		background-color: $darkgrey;
		padding-top: 10px;
		padding-bottom: 10px;
		color: #FFF;
	}

	td {
		background-color: rgba(0, 0, 0, 0.01);
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px dotted #CCC;
	}

	a {
		color: $lightblue;
	}
}