<%= form_for(@siezure_report) do |f| %>
  <% if @siezure_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@siezure_report.errors.count, "error") %> prohibited this siezure_report from being saved:</h2>

      <ul>
      <% @siezure_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
